#slider {
	background: #33CCCC;
	height: 110px;
}

#banner .img-banner {
	height: 16rem;
}

.meio-holder-arquivob {
	float: left;
	width: 46rem;
	padding: 20px 0 0 0;
}

.menu-arquivob  {
	float: left;
	width: 14rem;
}

.menu-arquivob h2 {
  font-family: ubuntutitling, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: #33CCCC;
  padding-top: 1rem;
  margin-bottom: .5rem;
  letter-spacing: -.1rem;
  width: 11rem;
}

.menu-arquivob ul li {
  font-size: 12px;
  color: #666666;
  line-height: 17px;
}

.menu-arquivob ul li:hover {
  color: #33CCCC;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-arquivob ul li.special {
  color: #33CCCC;
}

.arquivob-title, .arquivob-menu h2 {
	color: #33CCCC!important;
}

.arquivob-underline {
	text-decoration: underline;
}

.arquivob-links {
	color: #666;
}
.arquivob-links:hover{
	color: #33CCCC!important;
}

.arquivob-img {
  border: 2px #ccc solid;
  float: right;
}

.arquivob-img:hover {
  border: 2px #33cccc solid;
  transition: all 0.2s linear;
}

.arquivob-ultimas h2 {
	color: #33CCCC!important;
}

html.no-touch .arquivob-ultimas > ul > li > a:hover > img,
.arquivob-ultimas > ul > li > a:active > img,
html.focus .arquivob-ultimas > ul > li > a:focus > img {
  box-shadow: 0 0 0 2px #33cccc;
}

html.no-touch .arquivob-ultimas > ul > li > a:hover > p.categ,
.arquivob-ultimas > ul > li > a:active > p.categ,
html.focus .arquivob-ultimas > ul > li > a:focus > p.categ {
  color: #33cccc;
}

html.night.no-touch .arquivob-ultimas > ul > li > a:hover > p.categ,
html.night .arquivob-ultimas > ul > li > a:active > p.categ,
html.night.focus .arquivob-ultimas > ul > li > a:focus > p.categ {
  color: #33cccc;
}

html.no-touch .arquivob-ultimas > ul > li > a:hover > h2,
.arquivob-ultimas > ul > li > a:active > h2,
html.focus .arquivob-ultimas > ul > li > a:focus > h2 {
  color: #33cccc;
}

html.no-touch .arquivob-ultimas > ul > li > a:hover > p:last-child,
.arquivob-ultimas > ul > li > a:active > p:last-child,
html.focus .arquivob-ultimas > ul > li > a:focus > p:last-child {
  color: #000;
}

html.night.no-touch .arquivob-ultimas > ul > li > a:hover > p:last-child,
html.night .arquivob-ultimas > ul > li > a:active > p:last-child,
html.night.focus .arquivob-ultimas > ul > li > a:focus > p:last-child {
  color: #fff;
}

.arquivob-holder2 {
	padding-top: 20px;
}

.di {
	display: inline;
}
@media (max-width: 960px) {

    .menu-arquivob {
      float: none;
      width: 100%;
    }
    .menu-arquivob h2 {
      width: 100%;
      text-align: center;
    }
    .menu-arquivob ul li {
      background: #ccc;
      text-align: center;
      font-size: 16px;
      margin: 3px 0 3px 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    .menu-arquivob ul li:hover {
      background: #f90;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .menu-arquivob ul li a{
      color: #666;
      font-weight: bold;
      text-shadow: 0 1px rgba(255, 255, 255, 0);
      margin: .5rem .4rem;
      padding: 0 .9rem;
      -webkit-transition-property: -webkit-transform, color, background, text-shadow;
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1), ease, ease, ease;
      transition-property: transform, color, background, text-shadow;
      transition-timing-function: cubic-bezier(0, 0, 0, 1), ease, ease, ease;
      line-height: 2rem;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0);
    }
    .menu-arquivob ul li a:hover {
      color: #333;
      text-shadow: 0 1px rgba(255, 255, 255, .6);
    }
    .menu-arquivob
    .meio-holder-arquivob {
      width: 75rem;
    }
    .meio-holder-arquivob {
      width: 75rem;
    }
    #slider{
      display: none;
    }
}