#miolo {
    background: #fff;
    padding: 2rem;
    -webkit-transition: background .2s;
    transition: background .2s;
}

html.night #miolo {
    background: #202020;
}

#miolo:after {
    content: '';
    display: block;
    clear: both;
}

#siteheader,
#sitefooter,
#miolo {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

#breadcrumb {
    font-size: 1.2rem;
    color: #f90;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

#breadcrumb > a {
    color: #504b46;
}

html.no-touch #breadcrumb > a:hover,
#breadcrumb > a:active,
html.focus #breadcrumb > a:focus {
    text-decoration: underline;
}

html.night #breadcrumb > a {
    color: #999;
}

#banner {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

#banner > img {
    width: 94rem;
    height: 15rem;
    position: absolute;
    margin-left: -47rem;
    left: 50%;
    top: 0;
}

#banner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-linear-gradient(transparent 40%, rgba(0, 0, 0, .3));
    background-image: linear-gradient(transparent 40$, rgba(0, 0, 0, .3));
    z-index: 1;
}

#banner > div {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.4rem;
    max-width: 25rem;
    text-align: right;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    z-index: 2;
}

#banner > div:after {
    clear: both;
    content: '';
    display: block;
}

#banner > div > h1 {
    font-family: ubuntutitling, sans-serif;
    font-size: 3rem;
    color: #f90;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#subsite-links {
    background: #f90;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    color: #fff;
}

#subsite-links a strong {
  font-weight: bold;
}
#subsite-links p {
    display: inline-block;
    float: right;
}

#subsite-links p strong {
  color: #000;
  font-weight: bold;
}

html.home #miolo section {
    position: relative;
    margin-bottom: 2rem;
}

html.home #miolo section:after {
  content: '';
  clear: both;
}

html.home #miolo section > h1,
html.home #miolo section > header > h1 {
  height: 3rem;
  text-transform: uppercase;
  font-family: ubuntutitling, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.3rem;
  color: #f90;
  letter-spacing: -1px;
}

html.home #miolo section > h1:before,
html.home #miolo section > header > h1:before {
  content: '+';
  font-family: blastdings;
  font-weight: 400;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.5rem;
  line-height: calc(2.5rem); /* ie9 */
  vertical-align: top;
  padding-right: .8rem;
}

html.home #miolo section > h1 > a,
html.home #miolo section > header > h1 > a {
  text-transform: none;
  color: #ccc;
  font-size: 2rem;
}

html:not(.home) #miolo :not(article) aside {
  position: relative;
  margin-bottom: 2rem;
}

html:not(.home) #miolo :not(article) aside > h1 {
  font-family: ubuntutitling, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f90;
  margin-bottom: .5rem;
  letter-spacing: -.1rem;
}

#miolo .menu-blog h2 {
  font-family: ubuntutitling, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f90;
  margin-bottom: .5rem;
  letter-spacing: -.1rem;
}

#miolo .menu-blog ul li {
  font-size: 12px;
  color: #666666;
  line-height: 17px;
}

#miolo .menu-blog ul li.special {
  color: #FF9900;
}

.blog-text {
  width: 22rem;
}

.blog-img {
  border: 2px #ccc solid;
  float: right;
}

.blog-img:hover {
  border: 2px #f90 solid;
  transition: all 0.2s linear;
}

/* Social Bar */
.social-container {
  float: right;
  display: block;
  position: relative;
  bottom: 22px;
}

.social-bar ul{
  width: 10rem;
}

ul.social-bar li {
  display: inline-block;
  width: 25px;
  margin: 0 10px 0 0px;
}

.gplus-icon:hover{
  -webkit-transform: scale(.9) scalez(1);
  -ms-transform: scale(.9);
  transform: scale(.9) scalez(1);
}
.tt-icon {
    margin-left: 4px;
}

.tt-icon:hover{
  -webkit-transform: scale(.9) scalez(1);
  -ms-transform: scale(.9);
  transform: scale(.9) scalez(1);
}

.fb-icon:hover{
  -webkit-transform: scale(.9) scalez(1);
  -ms-transform: scale(.9);
  transform: scale(.9) scalez(1);
}

.header-text {
  background: url(../layout/images/bg-header-text.png);
}

@media (min-width: 960px) {
    .menu-blog {
        float: left;
        width: 14rem;
    }
    .meio-holder {
        float: left;
        width: 62rem;
    }

    .meio-holder-blog {
        float: left;
        width: 46rem;
    }

    .meio-holder2 {
        float: right;
        width: 30rem;
    }

    .blog-ultimas {
      width: 30rem;
      margin-right: -2rem;
      margin-bottom: 3.1rem !important;
    }

    .blog-ultimas > ul > li{
      color: #e4e4e4;
      -webkit-transition: color .2s;
      transition: color .2s;
      display: inline-block;
      padding-right: 2rem;
      vertical-align: top;
      width: 100%;
    }

    .blog-ultimas > ul > li > a {
      display: block;
      padding: .8rem 0;
      position: relative;
      color: #666;
      -webkit-transition-property: -webkit-transform, color;
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1), ease;
      transition-property: transform, color;
      transition-timing-function: cubic-bezier(0, 0, 0, 1), ease;
    }

    .blog-ultimas > ul > li > a > img {
      border-radius: 5px;
      width: 10rem;
      height: 5.8rem;
      float: left;
      margin-right: .8rem;
      box-shadow: 0 0 0 2px rgba(255, 153, 0, 0);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s;
    }

    .blog-ultimas > ul > li > a > p.categ {
      padding-bottom: .1rem;
      -webkit-transition: color .2s;
      transition: color .2s;
    }

    .blog-ultimas > ul > li > a > h2 {
      font-size: 1.4rem;
      line-height: 1.5rem;
      height: 4.5rem;
      display: table-cell;
      vertical-align: middle;
      font-weight: 700;
      -webkit-transition: color .2s;
      transition: color .2s;
    } 
}

.blog-ultimas h2.titulo {
  font-family: ubuntutitling, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f90;
  margin-bottom: .5rem;
  letter-spacing: -.1rem;
}

html.no-touch .blog-ultimas > ul > li > a:hover > img,
.blog-ultimas > ul > li > a:active > img,
html.focus .blog-ultimas > ul > li > a:focus > img {
  box-shadow: 0 0 0 2px rgba(255, 153, 0, 1);
}

html.no-touch .blog-ultimas > ul > li > a:hover > p.categ,
.blog-ultimas > ul > li > a:active > p.categ,
html.focus .blog-ultimas > ul > li > a:focus > p.categ {
  color: #f00;
}

html.night.no-touch .blog-ultimas > ul > li > a:hover > p.categ,
html.night .blog-ultimas > ul > li > a:active > p.categ,
html.night.focus .blog-ultimas > ul > li > a:focus > p.categ {
  color: #f44;
}

html.no-touch .blog-ultimas > ul > li > a:hover > h2,
.blog-ultimas > ul > li > a:active > h2,
html.focus .blog-ultimas > ul > li > a:focus > h2 {
  color: #f90;
}

html.no-touch .blog-ultimas > ul > li > a:hover > p:last-child,
.blog-ultimas > ul > li > a:active > p:last-child,
html.focus .blog-ultimas > ul > li > a:focus > p:last-child {
  color: #000;
}

html.night.no-touch .blog-ultimas > ul > li > a:hover > p:last-child,
html.night .blog-ultimas > ul > li > a:active > p:last-child,
html.night.focus .blog-ultimas > ul > li > a:focus > p:last-child {
  color: #fff;
}

.contraste {
    background: #333;
    -webkit-transition: background .2s;
    transition: background .2s;
    margin: 0 -2rem 1rem;
    padding: 2rem;
}

.contraste:after {
    content: '';
    clear: both;
    display: block;
}

html.night .contraste {
    background: #000;
}

#ad2 {
    background: #808080;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 60px;
}

#ad4 {
    background: #808080;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

#pagenav {
    font-family: ubuntutitling, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.8rem;
    color: #666;
    -webkit-transition: color 200ms;
    transition: color 200ms;
    margin-bottom: 3.6rem;
}

#pagenav:after {
    content: '';
    display: block;
    clear: both;
}

html.night #pagenav {
    color: #999;
}

#pagenav > p {
    padding: 0 2rem;
}

#pagenav > p > a {
    -webkit-transition-property: -webkit-transform, color;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1), ease;
    transition-property: transform, color;
    transition-timing-function: cubic-bezier(0, 0, 0, 1), ease;
}

html.no-touch #pagenav > p > a:hover,
#pagenav > p > a:active,
html.focus #pagenav > p > a:focus {
    color: #f90;
}

@media (max-width: 479px) {

    #pagenav .firstword {
        position: absolute;
        left: -9001px;
    }
}

/*
#pagenav > p > a:before,
#pagenav > p > a:after {
*/
#pagenav-first-before,
#pagenav-last-after {
    padding: 0 .5rem;
    display: inline-block;
    -webkit-transition: -webkit-transform 200ms;
    transition: transform 200ms;
    -webkit-transform: translateZ(0);
    -ms-transform: translateX(0);
    transform: translateZ(0);
    color: #f90;
}

#pagenav > p:first-child {
    float: left;
}

/*#pagenav > p:first-child > a:before {*/
#pagenav-first-before:before {
    content: '\00ab';
}

/*
html.no-touch #pagenav > p:first-child > a:hover:before,
#pagenav > p:first-child > a:active:before,
html.focus #pagenav > p:first-child > a:focus:before {
*/
html.no-touch a:hover > #pagenav-first-before,
a:active > #pagenav-first-before,
html.focus a:focus > #pagenav-first-before {
    -webkit-transform: translateX(-1rem) translateZ(0);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem) translateZ(0);
}

#pagenav > p:last-child {
    float: right;
}

/*#pagenav > p:last-child > a:after {*/
#pagenav-last-after:after {
    content: '\00bb';
}

#archives > table {
    width: 30.8rem;
}

#archives > table span,
#archives > table a {
    width: 100%;
}

/*
html.no-touch #pagenav > p:last-child > a:hover:after,
#pagenav > p:last-child > a:active:after,
html.focus #pagenav > p:last-child > a:focus:after {
*/
html.no-touch a:hover > #pagenav-last-after,
a:active > #pagenav-last-after,
html.focus a:focus > #pagenav-last-after {
    -webkit-transform: translateX(1rem) translateZ(0);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem) translateZ(0);
}

@media (max-width: 319px) {

    #ad2 {
        width: 216px;
        height: 36px;
    }
}

@media (min-width: 320px) and (max-width: 639px) {

    #ad2 {
        width: 300px;
        height: 50px;
    }
}
