#sitefooter {
  clear: both;
  /*min-height: 31.7rem;*/
  padding-top: 0 !important;
  margin-bottom: 0;
}

html.player-unfolded #sitefooter {
  min-height: 37.7rem;
  border-bottom: 2px solid transparent;
}

#bottomnav {
  height: 21.3rem;
  background: #504b47;
  -webkit-transition: background .2s;
  transition: background .2s;
}

#bottomnav h2 {
  background: url (../layout/images/plus.png) ;
  display: inline-block;
  font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 15px 0 5px 0;
  font-size: 13px;
}

#bottomnav h2 strong {
  margin-left: 6px;
}

.bottomnavMenu {
  float: left;
  display: inline-block;
  width: 14rem;
  color: #fff;
  font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
  margin-right: 40px;
}

.submenu{
  position: relative;
  top: 15px;
}

.bottomnavMenu li a{
  font-size: 11px;
}

.bottomnavMenu li a:hover {
  color: #f90;
  transition : all 0.2s ease;
}

html.night #bottomnav {
  background: #333;
}
#sitefooter #sitecopyright {
  color: #fff;
  font-family: Trebuchet MS;
}

#sitefooter #sitecopyright .follow-blast {
  display: inline-block;
  margin-left: 304px;
  margin-top: 5px;
}

#sitefooter #sitecopyright .footer-logo {
  float: right;
  display: inline-block;
}

.rotate{
  position: relative;
  display: inline-block;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rotate:hover {
  -moz-transform: scale(1.2) rotate(90deg) translate(0px);
 -webkit-transform: scale(1.2) rotate(90deg) translate(0px);
  -o-transform: scale(1.2) rotate(90deg) translate(0px);
  transform: scale(1.2) rotate(90deg) translate(0px);
}

@media (max-width: 960px) {

  #bottomnav {
    display: none;
  }
  #sitecopyright {
    padding: 15px 0;
  }
  .copy-text{
    position: relative;
    top: 21px;
    display: block;
  }
}